.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  flex-direction: column;
}

.item-container {
  padding: 10px;
  border-radius: 5px;
  background-color: #cecece;
  margin: 20px;
}

.text {
  color: #205699;
}